[FORMAT]
indent-string='    '
max-line-length=119

[MESSAGES CONTROL]
# ignore W0311 to ignore 2 v/s 4 indentation
disable=W0613,C0330,E127,W0312,unknown-option-value,useless-option-value,invalid-name,broad-exception-caught
