[url "ssh://git@github.com/"]
  insteadOf = https://github.com/

[includeIf "gitdir:~/github/"]
  path = .gitconfig.github

[alias]
  c = commit
  cm = commit -m
  ci = commit --edit
  ca = commit --amend
  co = checkout
  cob = checkout -b
  s = status
  suno = status -uno
  a = add
  au = add -u
  pso = push origin
  psom = push origin master
  psomn = push origin main
  puo = pull origin
  lo = log
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  d = diff
  f = fetch --all

[core]
	editor = vim

[color]
	ui = true
